
p.heading, h5{
	font-weight:bold;
}

p.heading{
	text-align:center; 
	margin:10px auto;
}
p{
	font-size:12px;
	line-height: 16px;
	text-transform:uppercase; 
	color:#000000;
}
div.line{
	border-bottom:1px solid black;
}
ul{
	list-style-type: none;
	margin-top:20px;
	padding: 0;
}

h5{
	margin-bottom:0px;
}
	
	
@media (max-width: 992px) {
	li.col-sm-offset-1 {
    margin-left: 0 !important;
  }
}
